<p id="notice"><%= notice %></p>

<p>
  <strong>ルーム名:</strong>
  <%= @room.name %>
</p>
<hr>
 <ul>
<% @room.messages.order(:created_at).each do |message| %>
  <li><%= message.content %><li>
<% end %>
</ul>

<%= render 'messages' %>
 
 <% render 'form', room: @room %>
<%= link_to '戻る', rooms_path %>
